/* some sumtom design */

.table-background{
	background-color:#dbf0f8;
    color:#18355d;
    margin-bottom: 0%;
}
.card-header{
    background-color:#14455F;
    color:#f5fbff;
}

.table td, th{
    text-align: center;
}


 /* body {
    overflow: hidden !important; 
  } */

  ::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
