*{
	padding: 0px;
	margin: 0px;
}

.navbar ul li a{
	font-size: 17px;
	color: white! important;
	font-weight: bold;
	margin-left: 12px;
  }
  .navbar ul li a:hover{
	color: grey! important;
  }

 
.name{
	font-family: 'Grandstander', cursive;
    padding: 15px 0px 5px 0px;
	font-size: 45px;
	margin-left: 12px;
}


footer{
	background-color: rgb(25, 34, 33);
	color: whitesmoke;
	padding-top: 30px;
}

#footer p{
	text-align: justify;
}

#footer .social .fab{
	font-size: 36px;
	margin: 20px 12px;
	color: white;
	transition: 1s;
}

#footer .social .fab:hover{
	color: rgb(179, 170, 170);
	transition: 1s;
}




#search{
	padding: 100px 0px;
	background: url('../img/photo-1471445281684-fdf28e036aa8.jpg');
	background-attachment: fixed;
	background-size: cover;
	color: whitesmoke;
}

.area-wise-show{
	padding: 60px;
	color: rgb(255, 255, 255);
	background-color: gray;
	
}

h2 .area-wise-not-available{
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}



/* start content section */
#content{
	margin: 50px 0px;
}

#content .sort{
	margin-bottom: 40px;
}

#content a{
	text-decoration: none;
	font-weight: 600;
	font-family: Arial, Helvetica, sans-serif;
}

#content .card-body p{
	font-weight: bold;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* end content section */





  

