*{
	padding: 0px;
	margin: 0px;
}

.navbar ul li a{
	font-size: 17px;
	color: white! important;
	font-weight: bold;
	margin-left: 12px;
  }
  .navbar ul li a:hover{
	color: grey! important;
  }

 
.name{
	font-family: 'Grandstander', cursive;
    padding: 15px 0px 5px 0px;
	font-size: 45px;
	margin-left: 12px;
}


footer{
	background-color: rgb(25, 34, 33);
	color: whitesmoke;
	padding-top: 30px;
}

#footer p{
	text-align: justify;
}

#footer .social .fab{
	font-size: 36px;
	margin: 20px 12px;
	color: white;
	transition: 1s;
}

#footer .social .fab:hover{
	color: rgb(179, 170, 170);
	transition: 1s;
}



.login-register{
	background-image: url('../img/login-register.jpg');
	background-attachment: fixed;
	background-size: cover;
}


#search{
	padding: 100px 0px;
	background: url('../img/photo-1471445281684-fdf28e036aa8.jpg');
	background-attachment: fixed;
	background-size: cover;
	color: whitesmoke;
}

.area-wise-show{
	padding: 60px;
	color: rgb(255, 255, 255);
	background-color: gray;
	
}

h2 .area-wise-not-available{
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.area-show .all-areas{
	background-color: rgb(226, 226, 226);	
}
.area-show .all-areas a{
	font-weight: 600;
	color: rgb(90, 84, 191);
}

.sort .order{
	background-color: rgb(226, 226, 226);	
}
.sort .order  a{
	font-weight: 600;
	color: rgb(90, 84, 191);
}



/* start content section */
#content{
	margin: 50px 0px;
}

#content .sort{
	margin-bottom: 40px;
}

#content .card{
	background-color: rgb(253, 249, 249);
	transition: .5s;
}

#content .card:hover{
	border: 1px solid;
	box-shadow: 6px 3px 2px #e9e5e5;
	
}

#content a{
	text-decoration: none;
	font-weight: 600;
	font-family: Arial, Helvetica, sans-serif;
}

#content .card-body p{
	font-weight: bold;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

 .grey{
	color: grey;
}



 .address{
	color: grey;
}
 .address:hover{
	color: rgb(79, 70, 70);
}

.card-body h4{
	color: rgb(202, 85, 85);
	font-weight: 600;
}

/* end content section */



/* ----------------------------------our-story----------------------------------- */
#our-story{
	padding: 80px 0px;
  }
  #our-story  .col-md-6 .story {
	padding-top: 60px;
	font-weight: 800;
	padding-bottom: 15px;
	font-family: 'Lalezar', cursive;
  }
  #our-story  .col-md-6 .pera {
	
	font-weight: 500;
	padding-right: 48px;
	color: grey;
	text-align: justify;
  }
  



.section-4{
	margin-top: 10%;
}
.section-4 .row .col-md-7, .col-md-5 {
	margin-top: 10%;
	margin-bottom: 10%;
}

.section-4 a{
	font-size:40px;
	text-decoration: none;
	color:lightseagreen; 
}
.section-4 .para-1{
	color:white; 
	margin-top: 7%;
	font-family:'Roboto Condensed'; 
	font-size: 23px;
}










  

